@page "/{name}/{project}"
@using static CRI_V1.Data.CRIModel


<aside class="@(show?"--show":"")">
    <div class="nav">
        <div class="nav-close" @onclick="@(()=>show=!show)">X</div>
        <div class="nav-user">
            <div class="nav-user-img">
                <img src="img/user.png" alt="user image" />
            </div>
            <label>User name</label>
        </div>
        <div class="nav-file">
            <ul>
                @if (CRIList.Tabs != null)
                {
                    @foreach (CRIModel.Tabs Tab in CRIList.Tabs)
                    {
                        <li><button onclick="@(async () => await FillCRIContent(Tab.Path))">@Tab.Title </button></li>
                    }
                }
            </ul>
        </div>
    </div>
</aside>
<div class="mobile" @onclick="@(()=>show=!show)">
    <div>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>


<section class="info">
    <div>
        <div class="info-name">
            <h1 class="--title">@name/@project</h1>
        </div>
        @if (ActiveTab != null)
        {
            <div class="info-file">
                <h1 class="--title">@ActiveTab.Title</h1>
                <h4>Last Update: 18/02/2022</h4>
            </div>
            <div class="info-desc">

                @if (ActiveTab.Contents == null)
                {
                    <p>loading content...</p>
                }
                else
                {
                    foreach (MarkupString item in MarkupContents)
                    {
                        @item
                    }
                }

            </div>
        }
    </div>
</section>
