@page "/{name}/{project}"


<aside class="@(show?"--show":"")">
    <div class="nav">
        <div class="nav-close"  @onclick="@(()=>show=!show)">X</div>
        <div class="nav-user">
            <div class="nav-user-img">
                <img src="img/user.jpeg" alt="user image" />
            </div>
            <label>User name</label>
        </div>
        <div class="nav-file">
            <ul>
                @if (ActiveCRI.Files != null)
                {
                    @foreach (CRIFile file in ActiveCRI.Files)
                    {
                        <li><button  onclick="@(async () => await FillCRIContent(@file.Path))">@file.Label </button></li>
                    }
                }
            </ul>
        </div>
    </div>
</aside>
<div class="mobile" @onclick="@(()=>show=!show)">
    <div>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>


<section class="info">
    <div>
        <div class="info-name">
            <h1 class="--title">Repository/Name</h1>
        </div>
        <div class="info-file">
            <h1 class="--title">File1.md</h1>
            <h4>Last Update: 18/02/2022</h4>
        </div>
        <div class="info-desc">
            @if (ActiveFile != null)
            {
                @if (ActiveFile.Content == null)
                {
                    <p>loading content...</p>
                }
                else
                {
                    @HTMLcontents
                }
            }
        </div>
    </div>
</section>
@*<nav>
   <ul>
       <li><h3>Files :   .md</h3></li>
        
    </ul>
</nav>





    </div>
</section>
*@